<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Subs</title>
  </head>

  <body>
    <div class="header">
      <a class="logoBtn" role="button" href="/"><h1><strong>Not Reddit</strong></h1></a>
      <div class="navbar">
        <a role="button" href="/">Home</a>
        <a role="button" href="/subs/list">Subs</a>
        <% if (!user) { %>
          <a role="button" href="/auth/login">Login</a>
        <% } else { %>
          <a role="button" href="/auth/logout">Logout</a>
        <% } %>
        <a role="button" href="/auth/signUp">Sign Up</a>
      </div>
    </div>

    <main>
      <div style="display: flex; align-items: baseline">
        <h1>Sub Groups</h1>
        <% if (user) { %>
          <a style="margin-left: auto" role="button" href="/posts/create">Create Post</a>
        <% } %>
      </div>
        <% subgroups.forEach(subgroup => { %>
          <article class="subgroupList">
            <h3><a href="/subs/show/<%= subgroup.name %>"><%= subgroup.name %></a></h3>
            <p><%= subgroup.description %></p>
          </article>
        <% }); %>
    </main>
  </body>
</html>
